*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:rgb(10, 84, 102);
    
 ;
}

section{
    height: 100vh;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
    text-align: center;
   
}

section#hero{
    background-color:rgb(194, 221, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#hero img{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

section#projects{
    margin-top: 30px;
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center 
}

.project-detail{
    width: 300px;
    margin: 20px;
}

.project-detail img{
    width: 100%;
}