/* =========================
   CONTACT
   ========================= */

.contact {
  background-image: linear-gradient(0deg, #6ab6bb 0%, #bafff9 100%);
  padding-bottom: 30px;
}

.contact__title {
  text-align: center;
}

/* layout */

.contact__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* =========================
   INFO
   ========================= */

.contact__info {
  max-width: 360px;
  min-width: 360px;
}




.contact__item {
  color: var(--color-primary);
  padding: 20px 0 20px 55px;
}

.contact__item i{
    text-align: center;
scale: 1.3;
}

.contact__item span{
margin-left: 18px;
}



.contact__divider {
  margin: auto;
  max-width: 320px;
  border: none;
  border-top: 1px solid #6bb4b6;
}

/* social */

.contact__social {
  font-size: 0.53em;
  padding: 20px 45px;
}

.contact__social .fa-stack {
  color: var(--color-primary);
  padding: 0px 21px;
  transition: color 0.5s;
}

.contact__social .fa-stack:hover {
  color: rgb(0, 151, 189);
}

/* =========================
   FORM
   ========================= */

.contact__form {
  width: 90%;
  max-width: 360px;
  min-width: 360px;
  padding: 0 1em 2em;
}

.contact__form-fields {
  padding-top: 1em;
  display: grid;
  gap: 1em;
}

.contact__input {
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: 1px solid rgb(154, 198, 216);
  border-radius: 0.2em;
}

.contact__submit {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
  transition: background 0.5s;
}

.contact__submit:hover {
  background: rgb(0, 151, 189);
}
