/* EXPERIENCIA */
.exp {
  background: rgb(193, 248, 250);
}

.exp__title{
  font-size: 32px;
  color: var(--color-primary);
  font-weight: 900;
  text-align: center;
  padding: 70px 0 20px 0;
}

.exp__timelines-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

/* Timeline Container */
.exp__timeline {
  padding: 30px 30px 0px 30px;
}

/* Outer Layer with the timeline border */
.exp__outer {
  border-left: 2px solid var(--color-primary);
}

/* Card container */
.exp__card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  color: var(--color-primary);
  max-width: 400px;
}

/* Information about the timeline */
.exp__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  color: var(--color-primary);
}

/* Card title */
.exp__card-title {
  color: var(--color-primary);
  position: relative;
  font-weight: 900;
}

/* Timeline dot  */
.exp__card-title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid var(--color-primary);
}

.exp__anio {
  font-size: 13px;
  color: var(--color-primary);
  letter-spacing: 1px;
}

.exp__timeline_top_title {
  color: var(--color-primary);
  padding: 10px 0 15px 0;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-family: "Comfortaa", sans-serif;
  text-transform: uppercase;
}

.exp__timeline_top_title:hover {
  font-weight: 700;
}
