.hero {
  height: 100vh;
  background-image: linear-gradient(0deg, #6ab6bb 0%, #bafff9 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__image {
  width: 210px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 4px solid white;
}

.hero__title {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-primary);
  letter-spacing: -1px;
}

.hero__subtitle {
  font-size: 19px;
  color: var(--color-primary);
}
