.profile {
  background-image: linear-gradient(
    180deg,
    #6ab6bb 50%,
    rgb(193, 248, 250) 100%
  );
  display: flex;
  justify-content: center;
  padding: 2rem 1rem 3rem;
}

.profile__text {
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(0, 46, 99);
  border-radius: 10px;
  padding: 20px;
  max-width: 540px;
  text-align: left;
  text-wrap: pretty;
}

@media (min-width: 600px) {
  .profile__text {
    padding: 30px;
  }
}
