.skills {
  padding-bottom: 50px;
  background: #86e0d9;
}

.skills_group {
  margin-top: 20px;
}

.skills_subtitle {
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--color-primary);
  opacity: 0.8;
}

.habilidades_box_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.habilidades_box {
  margin: 0 10px;
  padding: 0 10px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 400px) {
  .habilidades_box {
    margin: 10px 0;
    padding: 10px 0;
    max-width: 360px;
  }
}

.habilidades_box_ {
  padding: 10px 0 0 0;
}

.tag {
  font-size: 15px;
  background-color: var(--color-primary);
  color: #fff;
  padding: 4px 8px;
  margin: 8px 4px;
  border-radius: 5px;
  text-align: center;
}

.hab_box_title {
  text-align: center;
  padding: 30px 0 0 0;
  font-family: "Comfortaa";
  color: var(--color-primary);
  font-size: 15px;
  letter-spacing: 1.5px;
}



@media (min-width: 858px) {
  .skills {
    min-height: 100vh;
    padding-top: 50px;
  }


}
