.skills {
  padding-bottom: 50px;
  background: #86e0d9;
}

.skills_group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills_subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 12.5px;
  letter-spacing: 1px;
  color: var(--color-primary);
  opacity: 0.7;
}

.skills_box_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.skills_box {
  margin: 0 10px;
  padding: 0 10px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



@media (max-width: 400px) {
  .skills_box {
    margin: 10px 0;
    padding: 10px 0;
    max-width: 360px;
  }
}

.skills_box_ {
  padding: 10px 0 0 0;
}

.skills_tag {
  font-size: 14px;
  background-color: var(--color-primary);
  color: #fff;
  padding: 1.5px 7px;
  margin: 4px 1.5px;
  border-radius: 4px;
  text-align: center;
}

.skills_subtag {
  font-size: 10px;
  width: fit-content;
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.5px 5px;
  margin: 4px 1.5px;
  border-radius: 3px;
  opacity: 0.85;
  letter-spacing: 0.3px;
}

.skills_box_title {
  text-align: center;
  padding: 30px 0 0 0;
  font-family: "Comfortaa";
  color: var(--color-primary);
  font-size: 17px;
  letter-spacing: 1.5px;
}



@media (min-width: 858px) {
  .skills {
    min-height: 100vh;
    padding-top: 50px;
  }


}